body, select, option, button, input {
  font: 14px "Century Gothic", "Bookman Old Style", 'Helvetica Neue', sans-serif;
  /* margin: 20px; */
  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/foggy_birds.png') repeat;
}

html, body {
  height: 100%;
  width: 100%;
}

select {
  cursor: pointer;
}

select:hover {
  border: 2px solid black;
}

button {
  cursor: pointer;
  border: 1px solid black;
}

.history {
  float: "left";
}

.history:hover {
  border: 2px solid black;
}

#historyToggle:hover {
  box-shadow:rgb(130, 130, 130) 0px 0px 10px;
}

ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px; 
  width: 600px; 
  overflow: scroll;
}

li {
  margin: 0;
	padding: 0 0 0 20px;
	list-style: none;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA0Ayljvr3q_TsMZGSxGRg9g1zxugymZ4xJQ&usqp=CAU");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 15px;
}

select {
  font-size: 20px;
  height: 40px;
  width: fit-content;
  font-weight: bold;
}

option {
  font-size: 17.5px;
  height: 30px;
  width: fit-content;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.squareButton {
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  cursor: pointer;
}

.circleDiv {
  border-radius: 100%;
  width: auto;
  height: 100%; 
}

.connect4Button {
  background-image: -webkit-linear-gradient(bottom, rgb(130, 130, 130), 
  rgba(0, 0, 0, 0.311));
  -webkit-filter: brightness(90%);
  filter: brightness(70%);
  box-shadow:0px 3px 0px #27122e, 0px 3px 15px rgba(0,0,0,.4);
  border-radius: 100%;
  float: left;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: 5px;
  padding: 0;
  width: 42px;
  cursor: pointer;
}

.connect4Button:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}

.connect4Button:active {
  width: 41px;
  height: 39px;
  box-shadow: none;
}

.tileDiv {
  float: left;
  border: 1px solid grey;
  font-size: 18px;
  width: 70px;
  font-weight: 600;
  line-height: 40px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  padding: 0;
  cursor:pointer;
}

.tileDiv:hover {
  background: #fff;
  box-shadow: 0px 1px 6px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}

.tileDiv:active {
  box-shadow: none;
}

.tiles-row {
  display: block;
  flex-direction: row;
  /* width: 10%; */
  padding: 5px;
}


.horizontalBorderSquare, .verticalBorderSquare {
  font-size: 24px;
  font-weight: bold;
  margin-right: -1px;
  padding: 0;
  text-align: center;
}

.horizontalBorderSquare {
  float: left;
  height: 34px;
  line-height: 34px;
  margin-left: 34px;
  width: 8px;
  margin-top: -5px;
}

.verticalBorderSquare {
  height: 42px;
  margin-top: -1px;
  line-height: 42px;
  width: 34px;
}

.horizontalBorder {
  margin-left: 12px;
}

.pointsMult {
  border: 1px solid black;
  float: left;
  font-size: 12px;
  font-weight: bold;
  line-height: 11px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 38px;
}

#pointsMultDiv {
  justify-content: center;
  height: 34px;
  margin-right: 50px;
  margin-left: 60px;
  margin-top: 0px;
  margin-bottom:35px;
  padding: 4px;
}

th {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  background: rgb(33, 150, 243);
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  margin-right: -1px;
  margin-top: -1px;
  padding: 2px;
  text-align: center;
}

td {
  background: rgb(201, 189, 145);
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.player {
  background-image: -webkit-linear-gradient(bottom, rgb(255, 183, 0), 
  rgba(255, 183, 0, 0.311));
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
  border-radius: 5px;
  box-shadow: 0px 3px 0px #463c1b, 0px 3px 15px rgba(0,0,0,.4);
  font-size: 19px;
  width: 90px;
  height: 30px;
}

.player:hover {
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
  background-image: -webkit-linear-gradient(bottom, rgb(255, 183, 0), 
  rgba(255, 183, 0, 0.311));
  transition: all 0.5s ease;
  font-size: 20px;
}

.player:active {
  font-size: 19px;
  box-shadow: none;
}

#status{
  font-size: 17px;
  font-weight: bolder;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

#boardContainer, #scoreContainer {
  display: flex;
  /* align-items: center; */
  /* flex-wrap: wrap; */
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.scoreBoard {
  margin-left: 30px;
}

.lineBreak {
  display: flex;
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

